{% extends "base.twig" %}

{% block content %}
	<div class="uk-container uk-text-center uk-margin-large-top uk-margin-large-bottom">
		<h1>404</h1>
		<h3>{{trl('Pagina non trovata')}}</h3>
		<p class="uk-margin-top"><a href="/">{{trl('Torna alla homepage')}}</a></p>
	</div>
{% endblock %}