<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow>
    <ul class="uk-slideshow-items">
        {% for slide in vc.slides %}
            <li class="no-select">
                <img src="{{ slide.img_url }}" alt="" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center slideshow-text no-events no-select">
                    <h2 uk-slideshow-parallax="x: 300,-300" class="uk-margin-remove">{{ slide.title }}</h2>
                    <p uk-slideshow-parallax="x: 150,-150">{{ slide.subtitle }}</p>
                </div>
                <div class="uk-position-absolute uk-position-cover cover-slideshow"></div>
            </li>
        {% endfor %}
    </ul>
    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>

</div>
