<form role="search" method="get" id="searchform" class="searchform header-search uk-flex uk-flex-middle uk-flex-center uk-position-relative" action="{{trl('lang')}}/">	
    <input type="text" name="s" class="header-search-input" id="s" placeholder="{{ trl('Cerca') }}">
	<button type="submit" id="searchsubmit" class="header-search-submit"><img src="{{site.theme.uri}}/assets/imgs/search.svg" /></button>
</form>